<div class="container my-5">
    <h1 class="mb-3">Add New Employee</h1>

    <div class="row">
        <div class="col-6">
            <form action="" #form="ngForm">
                <div class="mb-3">
                    <label for="" class="form-label">Product Name</label>
                    <input type="email" class="form-control" id="name" placeholder="e.g wheat, milk, cotton ..">
                </div>
        
                <div class="mb-3">
                    <label for="" class="form-label">Product Category</label>
                    <input type="email" class="form-control" id="category" placeholder="Plant Derived or Animal Derived">
                </div>
        
                <div class="mb-3">
                    <label for="" class="form-label">Farmer Name</label>
                    <input type="email" class="form-control" id="name">
                </div>
        
                <div class="mb-3">
                    <label for="" class="form-label">Farmer Email</label>
                    <input type="email" class="form-control" id="email" placeholder="e.g johndoe@gmail.com">
                </div>
        
                <div class="mb-3">
                    <label for="" class="form-label">Product Quantity</label>
                    <input type="email" class="form-control" id="quantity">
                </div>
        
                <div class="mb-3">
                    <label for="" class="form-label">Product Value (In € euros)</label>
                    <input type="number" class="form-control" id="value" placeholder="enter estimated value of produce in euros (€)">
                </div>
                
                <button type="submit" class="btn btn-primary mb-3">Submit</button>

            </form>
        </div>
    </div>
    
</div>