<div class="container my-5">
    <h1 class="mb-3">Edit Product</h1>

    <div class="row">
        <div class="col-6" (ngSubmit)="updateProduct()">
            <form action="" #form="ngForm">
                <div class="mb-3">
                    <label for="id" class="form-label">Product Id</label>    
                    <input type="text" class="form-control" id="id" readonly 
                    name="id" [(ngModel)] = "productDetails.id">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Product Name</label>    
                    <input type="text" class="form-control" id="name" placeholder="e.g wheat, milk, cotton .." 
                    name="name" [(ngModel)] = "productDetails.name">
                </div>
        
                <div class="mb-3">
                    <label for="" class="form-label">Product Category</label>
                    <input type="text" class="form-control" id="category" placeholder="Plant Derived or Animal Derived"
                    name="category" [(ngModel)] = "productDetails.category">
                </div>
        
                <div class="mb-3">
                    <label for="" class="form-label">Farmer Name</label>
                    <input type="name" class="form-control" id="name"
                    name="farmerName" [(ngModel)] = "productDetails.farmerName">
                </div>
        
                <div class="mb-3">
                    <label for="" class="form-label">Farmer Email</label>
                    <input type="email" class="form-control" id="email" placeholder="e.g johndoe@gmail.com"
                    name="email" [(ngModel)] = "productDetails.email">
                </div>
        
                <div class="mb-3">
                    <label for="" class="form-label">Product Quantity</label>
                    <input type="text" class="form-control" id="quantity"
                    name="quantity" [(ngModel)] = "productDetails.quantity">
                </div>
        
                <div class="mb-3">
                    <label for="" class="form-label">Product Value (In € euros)</label>
                    <input type="number" class="form-control" id="value" placeholder="enter estimated value of produce in euros (€)"
                    name="value" [(ngModel)] = "productDetails.value">
                </div>
                
                <button type="submit" class="btn btn-primary mb-3">Save Changes</button>

            </form>
        </div>
    </div>
    
</div>