<div class="container my-5">
    <h2 class="mb-3"><U>RECORDS OF AGRICULTURAL PRODUCE</U></h2>
    <br>
    <table class="table table-primary table-striped table-bordered border-danger" *ngIf="products && products.length > 0">
        <thead>
            <tr>
                <th>Product <br>ID</th>
                <th>Product <br>Name</th>
                <th>Product <br>Category</th>
                <th>Farmer <br>Name</th>
                <th>Farmer <br>Contact</th>
                <th>Product <br>Quantity</th>
                <th>Product <br>Value (€)</th>
                <th>Edit <br>Product</th>
                <th>Delete <br>Product</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td><small>{{ product.id || '_' }}</small></td>
                <td>{{ product.name || '_' }}</td>
                <td>{{ product.category || '_' }}</td>
                <td>{{ product.farmerName || '_' }}</td>
                <td>
                    <a *ngIf="product.email" href="mailto:{{ product.email }}" target="_blank">{{ product.email }}</a>
                    <span *ngIf="!product.email">_</span>
                </td>
                <td>{{ product.quantity || '_' }}</td>
                <td>€{{ product.value || '_' }}</td>
                <td>
                    <button type="submit" class="btn btn-primary mb-3">
                        <a [routerLink]="['/products', 'edit', product.id]" style="color: white; text-decoration: none;">Edit</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger mb-3" (click)="deleteProduct(product.id)">Delete</button>
                </td>
            </tr>
        </tbody>
        
    </table>
    <p *ngIf="!products || products.length <= 0"><b>No Products Found!</b></p>
    <div class="row">
        <div class="col-12">
            <table class="table table-primary table-striped table-bordered border-danger">
                
                <tbody>
                    <tr>
                        <td><b>The total value of all Agricultural Produce In Euros (€)</b></td>
                        <td><b>{{ totalValue | currency: 'EUR' }}</b></td> <!-- Format as currency -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

